<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Taj Movers Company</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %} ">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %} ">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %} ">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %} ">
    <link rel="stylesheet" href="{% static 'css/animate.css' %} ">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %} ">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area white-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'homepage' %} ">
                                    <!-- <img src="img/logo.png" alt=""> -->
                                    <h3 style="color: #ff5e13;">TAJ MOVERS</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'homepage' %} ">Home</a></li>
                                        <li><a href="{% url 'about' %} ">About</a></li>
                                        <!-- <li><a href="{% url 'about' %} ">About</a></li>
                                        <li><a href="{% url 'about' %} ">Projects</a></li> -->
                                        <li><a href="{% url 'service' %} ">Services</a></li>
                                        <li><a href="{% url 'contact' %} ">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3">
                            <div class="quote-area">
                                <div style="color:  #ff5e13;" class="Flaticon flaticon-right-arrow">                                    
                                </div>
                                <div class="get-quote d-none d-lg-block">
                                    <a class="boxed-btn" href="{% url 'contact' %} ">Get a quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="search_input" id="search_input_box">
                        <div class="container ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- breadcrumb-start -->
    <section class="breadcrumb breadcrumb_bg banner-bg-1 overlay2 ptb200">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-1">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Our Company</h2>
                            <p> <a href="{% url 'homepage' %}">Home.</a> <span></span> About</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-end -->

    <!-- about start -->
    <div class="about-area section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-md-12 col-lg-6">
                    <div class="about-thumb">
                        <img src="{% static 'img/about/about.jpg' %} " alt="">
                        
                    </div>
                </div>
                <div class="col-xl-5 col-md-12 col-lg-6">
                    <div class="section-title mb-65">
                        <span>About Company</span>
                        <h3>Deliver inovative
                            Moving solutions</h3>
                        <p class="para-text">
                            With you every step of the way. Safety, integrity and loyalty are frameworks of our solution.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about end -->

    <!-- counter-start -->
    <div class="counter-area gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single-counter">
                        <div class="icon">
                            <img src="{% static 'img/icon/conunter-icon.png' %} " alt="">
                        </div>
                        <div class="counter-number">
                            <h3><span class="counter">400</span><span>+</span></h3>
                            <p>Business <span>Completed</span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-counter">
                        <div class="icon">
                            <img src="{% static 'img/icon/conunter-icon2.png' %} " alt="">
                        </div>
                        <div class="counter-number">
                            <h3><span class="counter">30</span><span>+</span></h3>
                            <p><span>Dedicated team</span> Business</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-counter">
                        <div class="icon">
                            <img src="{% static 'img/icon/conunter-icon3.png' %} " alt="">
                        </div>
                        <div class="counter-number">
                            <h3><span class="counter">350</span><span>+</span></h3>
                            <p>Positive <span>review</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter-start -->

    <!-- service-area-start -->
    <div class="service-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="section-title text-center mb-65">
                    <span>OUR SERVICES</span>
                    <h3>We provide all of your <br>
                        Moving solutions</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single-service">
                        <div class="service-thumb">
                            <img src="{% static 'img/service/3.jpg' %} " alt="">
                        </div>
                        <h3>Local, Timely Moves</h3>
                        <p>We consider your choice of time to move, Upon request. However, Late night demands may increase cost</p>
                        <!-- <a href="#" class="read-more">Read More</a> -->
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-service">
                        <div class="service-thumb">
                            <img src="{% static 'img/service/4.jpg' %} " alt="">
                        </div>
                        <h3>Office Moving </h3>
                        <p>We relieve you the stress of Packaging, moving and settling down in your new Office. Move Gracefully with us.</p>
                        <!-- <a href="#" class="read-more">Read More</a> -->
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-service">
                        <div class="service-thumb">
                            <img src="{% static 'img/service/1.jpg' %} " alt="">
                        </div>
                        <h3>Long Distance Moving</h3>
                        <p>We also cover long distance moving/vacating at a friendly cost. Get in touch to get a quote.</p>
                        <!-- <a href="#" class="read-more">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service-area-end -->

    <!-- about start -->
    <div class="about-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="section-title text-center mb-65">
                    <span>ABOUT   TAJ MOVERS</span>
                    <h3>We move you, <br>
                        Comfortably and Safely</h3>
                </div>
            </div>
            <div class="about-pro-active owl-carousel">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6 col-lg-6 ">
                        <div class="about-info-text">
                            <div class="quote">
                                <i class="Flaticon flaticon-quote"></i>
                            </div>
                            <div class="about-ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="about-text">Make us a part of your move
                                We will dedicate our team and efforts to making you comfortable.</p>
                            <div class="about-author">
                                <div class="autor-thumb">
                                    <img src="img/about/about-author.jpg" alt="">
                                </div>
                                <div class="auhor-text">
                                    <span>Japhey Omori</span>
                                    <p>Business ownner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-md-6">
                        <div class="about-review">
                            <img src="{% static 'img/about/about-project.jpg' %} " alt="">
                            <div class="project-review">
                                <h3>350+</h3>
                                <p>Positive reviews</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="about-info-text">
                            <div class="quote">
                                <i class="Flaticon flaticon-quote"></i>
                            </div>
                            <div class="about-ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="about-text">Make us a part of your move
                                We will dedicate our team and efforts to making you comfortable.</p>
                            <div class="about-author">
                                <div class="autor-thumb">
                                    <img src="img/about/about-author.jpg" alt="">
                                </div>
                                <div class="auhor-text">
                                    <span>Japhey Omori</span>
                                    <p>Business ownner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-md-6">
                        <div class="about-review">
                            <img src="{% static 'img/about/about-project.jpg' %} " alt="">
                            <div class="project-review">
                                <h3>350+</h3>
                                <p>Positive review</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="about-info-text">
                            <div class="quote">
                                <i class="Flaticon flaticon-quote"></i>
                            </div>
                            <div class="about-ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="about-text">Make us a part of your move
                                We will dedicate our team and efforts to making you comfortable.</p>
                            <div class="about-author">
                                <div class="autor-thumb">
                                    <img src="{% static 'img/about/about-author.jpg' %} " alt="">
                                </div>
                                <div class="auhor-text">
                                    <span>Japhey Omori</span>
                                    <p>Business ownner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-md-6">
                        <div class="about-review">
                            <img src="{% static 'img/about/about-project.jpg' %} " alt="">
                            <div class="project-review">
                                <h3>350+</h3>
                                <p>Positive review</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about end -->

    <!-- location-area-start -->
    <div class="addres-area black-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single-address text-center">
                        <div class="addres-icon">
                            <img src="{% static 'img/icon/1.png' %} " alt="">
                        </div>
                        <h3>Our Location</h3>
                        <p>Nairobi, Kenya<br>
                           <span class="underline-hover"> Mombasa Road</span></p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-address text-center">
                        <div class="addres-icon">
                            <img src="{% static 'img/icon/2.png' %} " alt="">
                        </div>
                        <h3>Opening hour</h3>
                        <p>Mon-Fri (9.00-19.00) <br>
                            Sat-Sun <span class="underline-hover">(Closed)</span></p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-address text-center">
                        <div class="addres-icon">
                            <img src="{% static 'img/icon/3.png' %} " alt="">
                        </div>
                        <h3>Drop a message</h3>
                        <p>
                            +254 722 9711
                            <br>
                            <img width="20px" height="20px" src="{% static 'img/gmail.png' %} "> :<a style="text-decoration: none; color: #ff5e13;" href="mailto:japhethfriday@gmail.com?Subject=Hello%20again" target="_bottom"><span class="underline-hover">Mail Us </span></a>
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- location-area-end -->

    <!-- footer-start -->
    <footer">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->

    <!-- JS here -->
    <script rel="stylesheet/" src="{% static 'js/vendor/modernizr-3.5.0.min.js' %} "></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %} "></script>
    <script src="{% static 'js/popper.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/owl.carousel.min.js' %} "></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %} "></script>
    <script src="{% static 'js/ajax-form.js' %} "></script>
    <script src="{% static 'js/waypoints.min.js' %} "></script>
    <script src="{% static 'js/jquery.counterup.min.js' %} "></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %} "></script>
    <script src="{% static 'js/scrollIt.js' %} "></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %} "></script>
    <script src="{% static 'js/wow.min.js' %} "></script>
    <script src="{% static 'js/nice-select.min.js' %} "></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %} "></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' % } "></script>
    <script src="{% static 'js/plugins.js' %} "></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %} "></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %} "></script>
    <script src="{% static 'js/jquery.form.js' %} "></script>
    <script src="{% static 'js/jquery.validate.min.js' %} "></script>
    <script src="{% static 'js/mail-script.js' %} "></script>
    <script src="{% static 'js/main.js' %} "></script>

</body>

</html>